:root{

     
    
    --main-bg-color: rgb(238, 235, 230);
    --header-bg-color: rgb(238, 235, 230);
    --dashboard-bg-color: rgb(51, 111, 151);
    --card-border-color:   #6d573396 ;
    --alt-card-border-color:#47371e;
    --card-bg-color: rgb(233,233,233);
    --button-bg-color: #68a4c6;
    --alt-card-bg-color: rgb(238, 235, 230);
    --book-unread-color: rgb(160, 155, 148);
    --book-read-color: #647431;


    font-family: Helvetica, sans-serif;
}

a, a:visited, a:active{
    text-decoration: none;
    font-style: italic;
    color:rgb(146, 145, 145);
}


body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: var(--main-bg-color, white);
}

header{
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    background-color: var(--card-bg-color, grey);
    border-bottom: 10px solid var(--alt-card-border-color, brown);
    height: min(120px, 30vh);
    min-height: 50px;
    box-shadow: 2px 2px 4px 1px grey;

    
}

#header-right-side{
    margin-right: 20px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    overflow: auto;
}

header h1{
    margin-right: auto;
    font-size: clamp(1vw, 48px, 5vw);
    
}

header img{
    height: auto;
    width: 100px;
    width: clamp(1vw, 60px, 5vw);
}

.subheader{
    justify-self: flex-end;
    display: flex;
    flex: 1;
    outline: 1px red dotted;
 
}

table, td{
    padding: 0 5px;
    text-align: right;


}

table{
    
    padding: 5px;
    font-size: clamp(.66rem, 14px, 1rem);
}

th{
    text-align: right;
    padding-right: 10px;
    border-right: 1px dotted rgba(128, 128, 128, 0.479);
    
}

td{
    padding-right: 10px;
    text-align: right;
    font-style: italic;
    border-right: 1px dotted rgba(128, 128, 128, 0.479);
}

#fav-genre, #fav-author{
    width: 8em;
}


#booklist{
    width: 80%;
    display: grid;
    justify-content: center;
    gap: 2rem;
    padding: 5%;
    grid-template-columns: repeat(auto-fill, min(250px, 100vw));
    grid-auto-rows: 400px;
    /* border: 5px dashed rgb(199, 188, 188);*/
}

ul{
    list-style: none;
}

.library{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#add-book{
    margin-top: 5%;
    padding: 5px;
    font-size: clamp(1rem, 24px, 2rem);
    border-radius: 5px;
}



/* Card for holding book info */ 
.book{
    flex: 0 1 auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding: 10%;
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color, black);
    border-right: 3px double var(--card-border-color, black);
    border-left: 20px solid var(--alt-card-border-color);
    border-radius: 5px;
    box-shadow: 5px 5px 8px 1px grey;
    
 


}

/* book elements */ 
.book > *{
    margin-bottom: 2px;
    margin-top: 5px;
    border-bottom: 1px dashed var(--card-border-color, black);
}

.book div {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.book > div > *{
    flex: 0 1 auto;
    font-size: 18px;
    font-weight:300;
}

.book .book-buttons{
    display: grid;
    grid-row: -1 / -2;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    border: none;
}


.read-button{
    grid-area: -2 / 1 / -1 / 2;
    background-color: var(--book-unread-color);
    width: 4rem;
    height: 2rem;
    border: 2px solid var(--card-border-color, brown);
}

.read-button:hover{
    filter:brightness(1.2);
}

.read-button:active{
    border: 2px inset var(--card-border-color, brown);
}


.hasread{
    background-color:var(--book-read-color, #647431);
    
}

.remove-button{
    margin-left: auto;
    height: auto;
    width: 2rem;
    grid-row: -2 / -1;
    

}



/* Container for modals, help with centering */ 
#book-modal-container{
   margin-top: 20vh;
   align-self: center;
   display: none;
   justify-content: center;
  
   position: fixed;
   z-index: 1;
   width: min(100vw, 380px);
   height: min(100vh, 500px);
    background-color: rgba(184, 135, 11, 0.082);
    
}

#add-book-modal{
    display: flex;
    
    align-self: center;
    justify-content: center;
    align-items: center;
    
    width: min(100vw, 340px);
    height: min(100vh, 480px);

 

    overflow: auto;
    border: 2px dashed var(--alt-card-border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    background-color: var(--card-border-color, #647431);

}

.add-book-content{

    width: min(100vh, 300px);
    height:  min(100vh, 450px);

    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color)
}

#delete-book-modal, #reset-library-modal{

    justify-self: center;
    justify-content: center;


    display: none;
    position: fixed;

    width: min(100vw, 300px);
    height: min(100vh, 150px);
       
}


#delete-book-modal #delete-modal-content, #reset-modal-content{
    background-color: var(--main-bg-color, white);
    padding: 10px; 
    border: 5px solid var(--alt-card-border-color,rgb(184, 18, 18));
    border-radius: 5px;
    width: 80%;
}

#delete-modal-content, #reset-modal-content{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 5px;
}

#delete-modal-content > *{
    grid-column: 1 / -1;
}
#reset-modal-content h2{
    grid-column: 1 / -1;
    text-align: center;
}

#cancel-delete, #cancel-reset{
    height: auto;
    width: 3rem;
    grid-area: 2 / 1 / 3 / 2;
}

#confirm-delete, #confirm-reset{
    height: auto;
    width: 3rem;
    grid-area: 2 / 2 / 3 / 3;
    justify-self:flex-end;
}



.form-container{
    margin-top: 10%;
    padding: 10%;
    display: grid;
    font-size: max(20px, 1rem);
    justify-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 2fr) 1fr 1fr;
}

.form-label{
    grid-column: 1 / -1;
   
}

.form-container input{
    width: 15rem;
    margin-left: 10px;
    font-size: 18px;
}


 #has_read,#page_count{
    width: 3rem;

}


#page-label{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#read-label{
    grid-column: 2 / 3 ;
    justify-self: flex-start;
    margin-left: 20px;
}

#submit-book{

    grid-column: 1 / -1;
    justify-self: center;
}

.form-element{
    outline: 1px dashed green;
}

#exit-form{
    height: auto;
    width: 2rem;
    align-self: flex-end;
}
/*```````````````````````````````````*/
footer{
    color: var(--card-bg-color, white);
    background-color: var(--alt-card-border-color, brown);
    padding: 10px;
    display: flex;
    margin-top: auto;

}

#reset-library{
    border-radius: 5px;
    background-color: var(--book-unread-color, grey);
    font-size: 1rem;
    margin-left: auto;
}

#signature{
    display: flex;
    gap: 5px;
    align-items: center;
}


#signature img{
    height: auto;
    width: 1.5rem;
}